<!DOCTYPE html>

<html>
    
    <head>
        <title>About</title>
        <link rel='icon' href="/img/images.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Omkar Gokhale. 
            <p>It uses data from mapbox.com and weather stack api</p>
        <img class="potrait" src='./img/robot.png'>
        </div>
        
        {{>footer}}
    </body>
</html>